https://10.2.0.154:{$OFFICE_HTTPS_PORT} {
    tls internal

    handle_path /office-api/* {
        reverse_proxy 127.0.0.1:{$OFFICE_API_PORT}
    }

    handle /office* {
        reverse_proxy 127.0.0.1:{$OFFICE_API_PORT}
    }

    handle {
        reverse_proxy 127.0.0.1:{$VSS_UI_PORT}
    }
}
